@use 'mq' with ( //
  $breakpoints: $breakpoints,
  $show-breakpoints: $show-breakpoints,
);

@mixin transition($property: all, $duration: $transition-duration, $function: linear) {
  transition: $property $duration $function;
}

@mixin font($size, $height) {
  font-size: $size;
  line-height: $height;
}

@mixin letter-spacing($spacing: $letter-spacing){
  letter-spacing: $spacing;
}