/* Section: about */
.about .section__content {
  min-height: 408px;
  margin: 0 175px;
  padding-left: 420px;
  background: url("../../assets/backgrounds/about-pets.png") 0 0 no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.about .section__content>* {
  margin: 0;
}
