
/* Section: donations */
.donations .section__content {
  min-height: 261px;
  margin: 0 143px;
  padding-left: 535px;
  background: url("../../assets/backgrounds/donation-dog.png") 0 50% no-repeat;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donations .section__content>* {
  margin: 0;
}

.donate__bank {
  margin: 0;
  font: 15px/17px var(--ff-serif);
  color: var(--color-dark-l);
}

.donate__card a {
  display: inline-block;
  padding: 8px 13px;
  border-radius: 9px;
  font: 20px/17px var(--ff-serif);
  letter-spacing: 0.06em;
}

.donate__card .icon-card {
  display: inline-block;
  width: 30px;
  height: 23px;
  background: url("../../assets/icons/credit-card.svg");
  vertical-align: -5px;
  margin-right: 10px;
}

.donate__legal {
  margin: 0;
  color: var(--color-dark-m);
}