$medium-width: 400px;
$large-width: 995px;

/* Section: donations */
.donations__content {
  --bg-image-height-mobile: #{responsive-size(135, 261, mobile)};
  --padding-bottom-mobile: #{responsive-size(135 + 42, 261 + 60, mobile)};

  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 0 1rem var(--padding-bottom-mobile);

  background: url("../../assets/backgrounds/donation-dog.png") 50% 100% no-repeat;
  background-size: auto var(--bg-image-height-mobile);

  @include mq($from: $medium-width) {
    padding-right: calc(50% - 19rem);
    padding-left: calc(50% - 19rem);
  }

  @include mq($from: $large-width) {
    width: 91.5rem;
    min-height: 26.1rem;
    padding: 0 0 0 53.5rem;
    margin: auto;
    background-position: 0 50%;
    background-size: auto;
  }

  &>* {
    margin: 0;
  }
}

.donations__title {
  margin: 0;

  @include mq($from: $medium-width) {
    text-align: left;
  }
}

.donate__bank {
  margin: 0;

  text-align: center;
  color: var(--color-dark-l);
  @include font(1.5rem, 2.4rem);
  @include letter-spacing(normal);

  @include mq($from: $medium-width) {
    @include font(1.5rem, 1.7rem);
    @include letter-spacing();
    text-align: left;
  }
}

.donate__card {
  a {
    font-family: var(--ff-serif);
    @include font(1.5rem, 1.7rem);

    display: inline-flex;
    align-items: center;
    gap: 1.6rem;
    padding: 1rem 1.5rem;
    border-width: 0;
    border-radius: 9px;
    letter-spacing: 0.06em;
    white-space: nowrap;

    @include mq($from: $medium-width) {
      font-size: 2rem;
    }
  }

  .icon-credit-card {
    display: inline-block;
    width: 30px;
    height: 23px;
  }
}

.donate__legal {
  margin: 0;
  text-align: justify;
  color: var(--color-dark-m);

  @include mq($from: $medium-width) {
    text-align: left;
  }
}