.page-footer {
  background: url('../backgrounds/noise_transparent@2x.png'),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
    #211F20;

  .wrapper {
    padding-top: 40px;
    padding-bottom: 0;
  }
}


.footer__content {
  --bg-image-height-mobile: #{responsive-size(269, 310, mobile)};
  --padding-bottom-mobile: #{responsive-size(269 + 40, 310 + 65, mobile)};

  display: flex;
  flex-direction: column;

  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url('../backgrounds/footer-puppy.png');

  padding-bottom: var(--padding-bottom-mobile);
  background-size: auto var(--bg-image-height-mobile);

  @include mq($from: tablet) {
    flex-direction: row;
    padding-bottom: 375px;
    background-size: auto 310px;
    background-position: center bottom;
  }

  @include mq($from: desktop) {
    min-height: 310px;
    gap: 0 140px;
    padding-bottom: 0;
    background-position: right bottom;
  }


  a {
    color: var(--color-primary);
    @include transition($property: color, $duration: 0.5s);

    &:hover {
      color: var(--color-primary-light);
    }
  }
}

.footer__section {
  padding-top: 0;

  @include mq($from: desktop) {
    max-width: 298px;
  }
}

.footer__section__title {
  text-align: center;
  margin: 17px 0;
  color: var(--color-light-xl);

  @include mq($from: tablet) {
    text-align: left;
  }
}


.contacts__list {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;

  a {
    display: inline-block;
  }

  em {
    font-style: normal;
    display: block;
  }
}

.contacts__list__item {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 72px;
}

.footer__link {
  font: 2rem/2.3rem var(--ff-serif);
  letter-spacing: 0.06em;
}

.footer__link .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
}