.page-footer {
  background: url('../backgrounds/noise_transparent@2x.png'),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
    #211F20;

  .wrapper {
    padding: 3rem 0 0;

    @include mq($from: desktop) {
      padding-top: 4rem;
    }
  }
}


.footer__content {
  --bg-image-height-mobile: #{responsive-size(269, 310, mobile)};
  --padding-bottom-mobile: #{responsive-size(269 + 20, 310 + 65, mobile)};

  display: flex;
  flex-direction: column;

  background: url('../backgrounds/footer-puppy.png') 50% 100% no-repeat;

  padding-bottom: var(--padding-bottom-mobile);
  background-size: auto var(--bg-image-height-mobile);

  @include mq($from: tablet) {
    flex-direction: row;
    padding: 0 3.4rem 37.5rem;
    background-size: auto 31rem;
    background-position: center bottom;
    gap: 0 6rem;
  }

  @include mq($from: desktop) {
    min-height: 31rem;
    gap: 0 14rem;
    padding: 0;
    background-position: right bottom;
  }
}

.footer__section {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:first-child {
    margin-top: 0;
  }

  @include mq($from: tablet) {
    display: block;
    margin: 0 0 -0.7rem;
  }

  @include mq($from: desktop) {
    max-width: 299px;
    margin: 0;
  }
}

.footer__section__title {
  margin: 0 0 4rem;
  text-align: center;
  color: var(--color-light-xl);
  @include letter-spacing(0.059em);

  @include mq($from: tablet) {
    margin: 0 0 3.3rem;
    text-align: left;
    @include letter-spacing();
  }

  @include mq($from: desktop) {
    margin: 1.7rem 0 3.2rem;
  }
}


.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  .address & {
    align-items: start;
    min-width: 30rem;
  }

  @include mq($from: tablet) {
    align-items: start;
    gap: 2.6rem;
  }
}

.contacts__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include mq($from: tablet) {
    height: 4.6rem;
  }
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  gap: 2rem;
  @include font(2rem, 2.3rem);

  letter-spacing: 0.06em;

  color: var(--color-primary);
  @include transition($property: color);

  .address & {
    display: inline-block;
  }

  &:hover {
    color: var(--color-primary-light);
  }

  em {
    font-style: normal;
    display: block;
  }
}