.page-header {
  background-color: var(--color-light-xl);
  position: relative;
  z-index: 1;

  .wrapper {
    padding: 3rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq($from: tablet) {
      padding: 3rem 0;
    }
  }

  .page-main & {
    background-color: transparent;
  }
}