.page-header {
  background-color: var(--color-light-xl);

  .wrapper {
    padding-top:3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .page-main & {
    background: url('../backgrounds/noise_transparent@2x.png'),
      radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);

      .wrapper {
        padding-bottom: 0;
      }
  }
}