$medium-width: 540px;
$large-width: 900px;

$dog-height-mobile: 272;
$dog-height-tablet: 593;
$dog-height-desktop: 728;

/* Start screen */
.start-screen {
  padding-top: 12rem;
  margin-top: -12rem;
  background: url('../backgrounds/noise_transparent@2x.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);

  @include mq($from: desktop) {
    padding-top: 18rem;
  }
}

.start-screen .wrapper {
  --bg-image-height-mobile: #{responsive-size($dog-height-mobile, $dog-height-tablet, mobile)};
  --padding-bottom-mobile: #{responsive-size($dog-height-mobile + 105, $dog-height-tablet + 100, mobile)};
  --bg-image-height-tablet: #{responsive-size($dog-height-tablet, $dog-height-desktop, tablet)};

  display: flex;
  padding: 3rem 0 calc(($dog-height-mobile + 105) * 1rem / 10);

  background: url('../../assets/backgrounds/start-screen-puppy.png') 100% 100% no-repeat;
  background-size: auto calc($dog-height-mobile * 1rem / 10);

  @include mq($from: mobile) {
    padding-bottom: var(--padding-bottom-mobile);
    background-size: auto var(--bg-image-height-mobile);
  }

  @include mq($from: desktop) {
    min-height: calc($dog-height-desktop * 1rem / 10);
    padding: 0;
    background-size: auto;
  }
}

.start-screen__content {
  max-width: 46rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 4.2rem;

  text-align: center;

  &>* {
    margin: 0;
  }

  @include mq($from: $medium-width) {
    text-align: left;
    align-items: start;
  }

  @include mq($from: desktop) {
    margin: 0 0 8rem;
  }
}

.start-screen__title {
  @extend %h2;
  @include letter-spacing();
  color: var(--color-light-xl);

  padding: 0 5rem;

  @include mq($from: $medium-width) {
    padding: 0;
    margin-right: 15rem;
    @include font(4.4rem, 5.7rem);
    @include letter-spacing(normal);
  }
}

.start-screen__content p {
  color: var(--color-dark-s);
}

.start-screen__content a {
  @include mq($from: $medium-width) {
    margin: auto;
  }

  @include mq($from: desktop) {
    margin: 0;
  }
}