.wrapper {
  min-width: 300px;
  max-width: 1200px;
  margin: 0 10px;
  padding: 4.2rem 0;

  @include mq($from: mobile) {
    margin: 0 responsive-size(10, 30, mobile);
  }

  @include mq($from: tablet) {
    padding: 8rem 0 10rem;
    margin: 0 responsive-size(30, 40, tablet);
  }

  @include mq($from: desktop) {
    margin: auto;
  }
}