.wrapper {
  box-sizing: border-box;
  width: 1200px;
  margin: auto;
}

.page-header .wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px;
  grid-template-areas: "logo navigation";
}

section .wrapper,
main .wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}