body {
  font-family: var(--ff-serif);
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
}

%heading {
  font-weight: 400;
  letter-spacing: 0.06em;

  @include mq($from: tablet) {
    @include letter-spacing();
  } 
}

h1,
h2 {
  @extend %heading;
  @include font(2.5rem, 3.2rem);

  @include mq($from: tablet) {
    @include font(4.4rem, 5.7rem);
  }
}

h3,
.page__title {
  @extend %heading;
  @include font(2.5rem, 3.2rem);

  @include mq($from: tablet) {
    @include font(3.5rem, 4.5rem);
  }
}

h4 {
  @extend %heading;
  @include font(2rem, 2.3rem);
}

h5 {
  @extend %heading;
  @include font(1.5rem, 1.7rem);
}

p {
  font-family: var(--ff-sans-serif);

  &.l {
    @include font(1.5rem, 2.4rem);
  }

  &.s {
    @include font(1.2rem, 1.8rem);
    font-style: italic;
  }
}