body {
  font-family: var(--ff-sans-serif);
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
}

%heading {
  font-family: var(--ff-serif);
  font-weight: 400;
  letter-spacing: 0.06em;
}

@mixin font($size, $height) {
  font-size: $size;
  line-height: $height;
}

h1,
h2 {
  @extend %heading;
  @include font(2.5rem, 3.2rem);

  @include mq($from: tablet) {
    @include font(4.4rem, 5.7rem);
    letter-spacing: normal;
  }
}

h3,
.page__title {
  @extend %heading;
  @include font(2.5rem, 3.2rem);

  @include mq($from: tablet) {
    @include font(3.5rem, 4.5rem);
    letter-spacing: normal;
  }
}

h4 {
  @extend %heading;
  @include font(2rem, 2.3rem);
}

h5 {
  @extend %heading;
  @include font(1.5rem, 1.7rem);
}

p.l {
  @include font(1.5rem, 2.4rem);
}

p.s {
  @include font(1.2rem, 1.8rem);
  font-style: italic;
}