.burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2.2rem;
  z-index: 2;
  @include transition();

  i,
  &:before,
  &:after {
    content: '';
    height: 2px;
    background: var(--color-dark-4xl);

    .page-main & {
      background: var(--color-primary);

    }
  }

  &:before {
    transform-origin: left top;
  }

  &:after {
    transform-origin: right bottom;
  }

  @include mq($from: tablet) {
    display: none;
  }
}

@include mq($until: tablet) {
  .burger-navigation {
    display: flex;
    justify-content: end;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: width 0.5s;
    z-index: 1;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    width: 32rem;
    min-width: 32rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 3.7rem;
    background: var(--color-light-xl);
    transform: translateX(100%);
    transition: transform 0.5s;

    .page-main & {
      background: var(--color-dark-3xl);
    }
  }

  .navigation__link {
    @include font(3.2rem, 5.1rem);
  }

  .burger-open {
    overflow: hidden;

    .page-header:before {
      content: '';
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-burger);
    }

    .burger-button {
      transform: rotate(90deg);
    }

    .burger-navigation {
      width: 100%;
    }

    .navigation {
      transform: translateX(0%);
    }
  }
}