body.has-modal {
  overflow: hidden;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(41, 41, 41, 0.6);
}

.modal__popup {
  position: relative;
  margin: 0 4rem;
  min-width: 24rem;
  max-width: 35rem;

  @include mq($from: tablet) {
    margin: 0 7rem;
    max-width: none;
  }
}

.modal__content {
  background: var(--color-light-s);
  border-radius: 9px;
  overflow: hidden;
}

.modal__close-button {
  position: absolute;
  bottom: 100%;
  left: 100%;
  padding: 0;
  width: 5.2rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-2.2rem);

  @include mq($from: tablet) {
    transform: translateX(-0.9rem);
  }
}