/* Pagination */
.pagination {
  @extend %h4;
  text-align: center;
}

.pagination ul {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
  justify-content: center;
  gap: 1rem;

  @include mq($from: tablet) {
    gap: 2rem;
  }
}

.pagination__link,
.pagination__page {
  display: block;
  box-sizing: border-box;
  width: 5.2rem;
  height: 5.2rem;
  line-height: 4.8rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
  user-select: none;
}

.pagination__link {
  cursor: pointer;
  @include transition();
}

.pagination__link--disabled {
  pointer-events: none;
}


/* Pagination */
.pagination__link {
  color: var(--color-dark-3xl);
  border-color: var(--color-primary);

  &:hover {
    background: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }

  &--disabled,
  &--disabled:hover {
    background: transparent;
    color: var(--color-dark-s);
    border-color: var(--color-dark-s);
  }
}

.pagination__link:active,
.pagination__page {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-dark-3xl);
}