@charset 'utf-8';

@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/placeholders';
@import 'abstracts/mq';
@import 'abstracts/mixins';

// Base
@import 'base/normalize';
@import 'base/fonts';
@import 'base/typography';
@import 'base/base';

// Components
@import 'components/buttons';
@import 'components/icons';
@import 'components/logo';
@import 'components/burger';
@import 'components/navigation';
@import 'components/pagination';
@import 'components/pets';
@import 'components/slider';


// Layout
@import 'layout/wrapper';
@import 'layout/header';
@import 'layout/main';
@import 'layout/section';
@import 'layout/footer';

@import 'layout/start-screen';
@import 'layout/about';
@import 'layout/our-pets';
@import 'layout/help';
@import 'layout/donations';

// Pages
@import 'pages/main';
@import 'pages/pets';