:root {
  --color-light-xl: #FFFFFF;
  --color-light-l: #F6F6F6;
  --color-light-s: #FAFAFA;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-dark-4xl: #000000;

  /* Primary colors */
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;

  /* Fonts */
  --ff-serif: Georgia, 'Times New Roman', Times, serif;
  --ff-sans-serif: Arial, Helvetica, sans-serif;
}

$breakpoints: ( // 
  mobile: 320px,
  tablet: 768px,
  desktop: 1280px,
);

$show-breakpoints: (mobile, tablet, desktop);

$transition-duration: 0.3s;

$letter-spacing: 0.06em;