/* icons */
$help-icons: ('pet-food', 'transportation', 'toys', 'bowls-and-cups',
  'shampoos', 'vitamins', 'medicines', 'collars-leashes',
  'sleeping-area');

$site-icons: ('credit-card', 'mail', 'phone', 'pin', 'cross');

@each $icon in $help-icons {
  .icon-#{$icon} {
    background-image: url('../icons/icon-#{$icon}.svg');
  }
}

@each $icon in $site-icons {
  .icon-#{$icon} {
    background-image: url('../icons/#{$icon}.svg');
  }
}

.icon {
  display: inline-block;
  background-size: contain;
}


/* Footer icons */
.page-footer .icon {
  height: 32px;
  background-position: 0 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-mail,
.icon-phone {
  width: 40px;
}

.icon-pin {
  width: 22px;
}

.icon-cross {
  width: 12px;
  height: 12px;
}