.header-logo {
  grid-area: logo;
  justify-self: left;
  margin-left: 1rem;

  @include mq($from: tablet) {
    margin-left: 0;
  }

  .page-main & {
    pointer-events: none;
  }
}

/* Logo */
.logo {
  display: block;
}

.logo__title {
  margin: 0;
  font: 3.2rem/3.5rem var(--ff-serif);
  color: var(--color-dark-l);
  letter-spacing: 0.06em;

  @include transition();

  .page-main & {
    color: var(--color-primary);
  }

  .header-logo:hover & {
    color: var(--color-dark-3xl);
  }
}

.logo__subtitle {
  margin: 1rem 0 0 0.4rem;
  font: 1.3rem/1.5rem var(--ff-sans-serif);
  color: var(--color-dark-3xl);
  letter-spacing: 0.1em;

  .page-main & {
    color: var(--color-light-xl);
  }
}