.header-logo {
  .page-main & {
    pointer-events: none;
  }
}

/* Logo */
.logo {
  display: flex;
  height: 6rem;
  flex-direction: column;
  justify-content: space-between;

  &>* {
    margin: 0;
  }
}

.logo__title {
  padding-top: 0.1rem;
  @include font(3.2rem, 3.5rem);
  @include letter-spacing();
  @include transition();

  color: var(--color-dark-l);

  .page-main & {
    color: var(--color-primary);
  }

  .header-logo:hover & {
    color: var(--color-dark-3xl);
  }
}

.logo__subtitle {
  margin-left: 0.4rem;
  font-family: var(--ff-sans-serif);
  @include font(1.3rem, 1.5rem);
  @include letter-spacing(0.1em);

  color: var(--color-dark-3xl);

  .page-main & {
    color: var(--color-light-xl);
  }
}