.header-navigation {
  display: none;
  font-family: var(--ff-sans-serif);

  @include mq($from: mobile) {
    width: 100%;
  }

  @include mq($from: tablet) {
    display: block;
    width: auto;
  }
}

.navigation {
  display: none;
  justify-content: space-between;

  @include mq($from: mobile) {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0;
  }

  @include mq($from: tablet) {
    display: flex;
    width: auto;
    gap: 3.57rem;
    flex-direction: row;
    margin-bottom: 0.1rem;
  }
}

/* Header navigation */
.navigation__link {
  display: inline-block;
  @include font(1.5rem, 2.4rem);
  color: var(--color-dark-l);

  @include transition($property: color);

  &:after {
    content: '';
    display: block;
    height: 0.3rem;
    background: var(--color-primary);
    visibility: hidden;
  }

  &:hover {
    color: var(--color-dark-3xl);
  }

  &:active,
  &--active {
    color: var(--color-dark-l);
  }

  &--active {
    margin-bottom: 0.3rem;

    @include mq($from: tablet) {
      pointer-events: none;
      margin-bottom: 0;
    }
  }

  &--active:after {
    visibility: visible;
  }

  .page-main & {
    color: var(--color-dark-s);

    &:hover {
      color: var(--color-light-s);
    }

    &:active,
    &--active {
      color: var(--color-light-s);
    }
  }
}