.header-navigation {
  align-self: center;
  justify-self: right;

  @include mq($from: mobile) {
    width: 100%;
  }

  @include mq($from: tablet) {
    width: auto;
  }
}

.navigation {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;

  @include mq($from: mobile) {
    // display: flex;
    width: 100%;
    flex-direction: column;
    background: red;
    gap: 0;
  }

  @include mq($from: tablet) {
    width: auto;
    gap: 35px;
    flex-direction: row;
  }
}

/* Header navigation */
.navigation__link {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: var(--color-dark-l);
  
  @include transition();

  &::after {
    content: '';
    display: block;
    height: 3px;
    background: var(--color-primary);
    visibility: hidden;
  }

  &:hover {
    color: var(--color-dark-3xl);
  }

  &:active,
  &--active {
    color: var(--color-dark-l);
    pointer-events: none;
  }

  &--active:after {
    visibility: visible;
  }

  .page-main & {
    color: var(--color-dark-s);

    &:hover {
      color: var(--color-light-s);
    }

    &:active,
    &--active {
      color: var(--color-light-s);
    }
  }
}