/* Slider modification of pets */
.slider {
  position: relative;
}

.slider__cards {
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: hidden;

  width: 27rem;
  padding: 2rem 0;
  gap: 2.5rem;

  @include mq($from: tablet) {
    width: calc(270px * 2 + 11rem);
    padding: 6rem 3.5rem;
    gap: 4rem;
  }

  @include mq($from: desktop) {
    width: calc(270px * 3 + 180px);
    gap: 9rem;
  }
}

.slider__pagination {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  padding: 0 5.8rem;
  margin: 0 auto 4.2rem;

  @include mq($from: tablet) {
    margin: 0;
  }
}

.slider__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

@include mq($from: 430px) {
  .slider__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .slider__prev {
    left: 0;
  }

  .slider__next {
    right: 0;
  }
}