/* Section: our pets */
.page-pets {
  .pet__card {
    display: none;

    &:nth-child(-n+3) {
      display: block;
    }

    @include mq($from: 628px) {
      &:nth-child(-n+6) {
        display: block;
      }
    }

    @include mq($from: desktop) {
      &:nth-child(-n+8) {
        display: block;
      }
    }
  }

  .pagination {
    margin-top: 4.2rem;

    @include mq($from: tablet) {
      margin: 4rem 0 -2.4rem; /* Magic */
    }

    @include mq($from: desktop) {
      margin: 6rem 0 0;
    }
  }
}