:root {
  --color-light-xl: #FFFFFF;
  --color-light-l: #F6F6F6;
  --color-light-s: #FAFAFA;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;

  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
}

body {
  background: var(--color-light-l);
}

a {
  color: var(--color-dark-3xl);
}

p {
  color: var(--color-dark-xl);
}

/* Section backgrounds */
.bg-alternate {
  background-color: var(--color-light-xl);
}

.page-header {
  background-color: var(--color-light-xl);
}

.page-main .page-header {
  background: url('../backgrounds/noise_transparent@2x.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
}

.page-footer {
  background: url('../backgrounds/noise_transparent@2x.png'),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

/* Logo */
.logo__title {
  color: var(--color-dark-l)
}

.logo__subtitle {
  color: var(--color-dark-3xl)
}

/* Page title */
.page__title {
  color: var(--color-dark-l);
}

/* Buttons */
.button-primary {
  border-color: var(--color-primary);
  background: var(--color-primary);
}

.button-primary:hover {
  border-color: var(--color-primary-light);
  background: var(--color-primary-light);
}

.button-secondary {
  border-color: var(--color-primary-light);
}

.button-secondary:hover {
  background: var(--color-primary-light);
}

.header-logo:hover .logo__title {
  color: var(--color-dark-3xl);
}


/* Header navigation */
.navigation__link {
  color: var(--color-dark-l);
}

.navigation__link:after {
  content: '';
  display: block;
  height: 3px;
  background: var(--color-primary);
  visibility: hidden;
}

.navigation__link:hover {
  color: var(--color-dark-3xl);
}

.navigation__link:active,
.navigation__link--active {
  color: var(--color-dark-l);
}

.navigation__link--active:after {
  visibility: visible;
}

.section__title {
  color: var(--color-dark-l);
}

.footer__section__title {
  color: var(--color-light-xl);
}

.footer__content a {
  color: var(--color-primary);
}

.footer__content a:hover {
  color: var(--color-primary-light);
}

/* Pagination */
.pagination__link {
  color: var(--color-dark-3xl);
  border-color: var(--color-primary);
}
.pagination__link:hover {
  background: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.pagination__link:active,
.pagination__link--active {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-dark-3xl);
}

.pagination__link--disabled {
  color: var(--color-dark-s);
  border-color: var(--color-dark-s);
}