html {
  scroll-behavior: smooth;
}

.button {
  transition: all 0.5s;
}

.logo__title,
.navigation__link {
  transition: all 0.5s;
}

.pagination__link {
  transition: all 0.5s;
}

.pet__card {
  transition: all 0.5s;
}

.footer__content a {
  transition: color 0.5s;
}