html {
  min-width: 1260px;
}

.wrapper {
  box-sizing: border-box;
  width: 1200px;
  margin: auto;
}

.page-header .wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px;
  grid-template-areas: "logo navigation";
  grid-auto-flow: row;
}

section .wrapper,
main .wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}

.header-logo {
  grid-area: logo;
  justify-self: left;
}

.header-navigation {
  grid-area: navigation;
  align-self: center;
  justify-self: right;
}

.page__title {
  text-align: center;
  max-width: 400px;
  margin: 0 auto 60px;
}

.page-footer .wrapper {
  padding-top: 40px;
}

.footer__content {
  display: flex;
  flex-direction: row;
  min-height: 310px;
  background: url('../backgrounds/footer-puppy.png') 100% 100% no-repeat;
  gap: 0 140px;
}

.footer__section {
  max-width: 298px;
  padding-top: 0;
}

.footer__section__title {
  margin: 17px 0;
}

.contacts__list {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.contacts__list__item {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 72px;
}

.contacts__list__item .icon {
  height: 32px;
  background-position: 0 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-mail {
  width: 40px;
  background-image: url('../icons/mail.svg');
}

.icon-phone {
  width: 40px;
  background-image: url('../icons/phone.svg');
}

.icon-pin {
  width: 22px;
  background-image: url('../icons/pin.svg');
}

.contacts__list a {
  display: inline-block;
}

.contacts__list a em {
  font-style: normal;
  display: block;
}