.wrapper {
  box-sizing: border-box;
  width: 1280px;
  margin: auto;
}

.page-header .wrapper {
  padding: 30px 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px;
  grid-template-areas: "logo navigation";
  grid-auto-flow: row;
}

section .wrapper {
  padding: 80px 40px 100px;
}

.header__logo {
  grid-area: logo;
}

.header__navigation {
  grid-area: navigation;
  align-self: center;
  justify-self: end;
}