:root {
  --ff-serif: Georgia, 'Times New Roman', Times, serif;
  --ff-sans-serif: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--ff-sans-serif);
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-serif);
  font-weight: 400;
  letter-spacing: 0.06em;
}

h1,
h2 {
  font-size: 44px;
  line-height: 57px;
  letter-spacing: normal;
}

h3 {
  font-size: 35px;
  line-height: 45px;
}

h4 {
  font-size: 20px;
  line-height: 23px;
}

h5 {
  font-size: 15px;
  line-height: 17px;
}

p.l {
  font-size: 15px;
  line-height: 24px;
}

p.s {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

.logo__title {
  font: 32px/35px var(--ff-serif);
  letter-spacing: 0.06em;
}

.logo__subtitle {
  font: 13px/15px var(--ff-sans-serif);
  letter-spacing: 0.1em;
}

.page__title {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
}

.button {
  font: 17px/22px var(--ff-serif);
  letter-spacing: 0.06em;
}

.footer__link {
  font: 20px/23px var(--ff-serif);
  letter-spacing: 0.06em;
}

/* Pagination */
.pagination {
  font: 20px/23px var(--ff-serif);
  letter-spacing: 0.06em;
}